/* Variabili*/
:root {
    --main-color: salmon;
    --main-secondary-color: rgba(19, 15, 64, 1);
    --overlay-color: rgba(19, 15, 64, 0.5);
    --input-bright-color: rgb(255, 255, 255, .5);
    --input-dark-color: #282451;
    --nav-btn-color: rgb(252, 201, 185);
    --main-font: 'Archivo', sans-serif;
    --input-font-color: white;
    --error-color: #e74c3c;
    --correct-color: #28A745;
    --input-border: 2px solid;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Archivo', sans-serif;
    font-family: var(--main-font);
    overflow-y: hidden;
    overflow-x: hidden;
}

.bigText {
    padding-top: 5vh;
    font-size: 5vw;
}

.top {
    width: 100%;
    background-image: url("../Img/bg-div-2.jpg");
    background-size: cover;
    background-position: center center;

    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50px;
    color: white;
    color: var(--input-font-color);
}

.card-style {

    background-color: rgba(19, 15, 64, 0);
    border: none;
}

.ct-style {
    width: 50%;
    margin-left: 25%;
}

.down {
    background: salmon;
    background: var(--main-color);
    height: 0%;
    overflow-x: hidden;
}

.inputIcon input[type=text] {
    padding-left: 32%;
}


.inputIcon {
    position: relative;
    display: inline;
}

.inputIcon i {
    position: absolute;
    left: 0;
    top: 2px;
    padding: 9px 8px;
    color: white;
    color: var(--input-font-color);
    transition: 0.3s;
    font-size: 20px;
}

div.down .inputIcon i {
    z-index: 1;
}

.counter-i {
    color: white;
    color: var(--input-font-color) !important;
}

.counter-btn {
    padding: 0;
    color: white;
    color: var(--input-font-color);
}

.form-size {
    width: 100%;
}

.counter-spacing input[type=text] {
    padding-left: 55%;
}


.form-style,
.form-select {
    background-color: rgba(255, 255, 255, .5);
    background-color: var(--input-bright-color);
    border: 2px solid;
    border: var(--input-border);
    border-color: white;
    color: white;
    color: var(--input-font-color);
}

/* select {

    -webkit-appearance: none;
    -moz-appearance: none;
} */

.form-control[readonly] {
    background-color: rgba(255, 255, 255, .5);
    background-color: var(--input-bright-color);
    border: 2px solid;
    border: var(--input-border);
    border-color: white;
    color: white;
    color: var(--input-font-color);
}



select.form-style {
    padding-left: 40px;
}

select.form-style:focus {
    background-color: rgb(255, 255, 255, .5);
    background-color: var(--input-bright-color);
    color: white;
    color: var(--input-font-color);
}

select.form-select:focus {
    color: black;
    background-color: white;
}

div.down .form-style {
    border: none;
    background-color: #282451;
    background-color: var(--input-dark-color);
}

.input-spacing {
    margin-top: 10%;
}

.layer {
    background-color: rgba(19, 15, 64, 0.5);
    background-color: var(--overlay-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-counter,
input:focus {
    background-color: rgba(255, 255, 255, .5) !important;
    background-color: var(--input-bright-color) !important;
    border: 2px solid !important;
    border: var(--input-border) !important;
    border-color: white !important;
    color: white !important;
    color: var(--input-font-color) !important;
}

div.down input:focus {
    border: none !important;
    background-color: #282451 !important;
    background-color: var(--input-dark-color) !important;
}

::placeholder {
    color: white !important;
    color: var(--input-font-color) !important;
}

.salmon-btn,
.salmon-btn:disabled {
    background-color: #FFA07A;
    border: #E5906D;
    margin-top: 0;
}


.salmon-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.salmon-btn:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.span-btn {
    margin-top: 31px;
    line-height: 10px;
}

.nav-btn {
    border: 2px solid;
    border: var(--input-border);
    color: rgb(252, 201, 185);
    color: var(--nav-btn-color);
    border-color: rgb(252, 201, 185);
    border-color: var(--nav-btn-color);
    background-color: rgba(255, 255, 255, 0);
    margin-right: 3vw;
}

.nav-btn:hover {
    border: 2px solid;
    border: var(--input-border);
    border-color: rgb(252, 201, 185);
    border-color: var(--nav-btn-color);
    background-color: rgba(255, 255, 255, 0);
    background-color: var(--nav-btn-color);
    color: rgba(19, 15, 64, 1);
    color: var(--main-secondary-color);
}

.datepicker {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.tooltip-inner {
    background-color: white;
    color: black;
}

.tooltip-errore {
    background-color: #DC3545;
    color: white;
}

.plus:focus,
.minus:focus,
.piu:focus,
.meno:focus,
.plusBamibini:focus,
.minusBambini:focus,
.plusB2:focus,
.minusB2:focus {
    outline: none !important;
    box-shadow: none !important;
}

.minusB2 {
    margin-left: 15%;
}

.navigation-bar {
    background-color: rgba(19, 15, 64, 1);
    background-color: var(--main-secondary-color);
    border: 0;
    width: 100vw;
}

.camere {
    margin-top: 5vw;
}

.camera-card {
    width: 90vw;
    margin-bottom: 5vw;
    border: none;
}

.camera-card:hover {
    background-color: rgba(19, 15, 64, 1);
    background-color: var(--main-secondary-color);
    color: white;
}

h5.testo-card {
    margin-top: 1vw;
}

.testo-card {
    margin-left: 3vw;
}

.form-control.is-invalid {
    border-color: #e74c3c;
    border-color: var(--error-color);
}

.form-control.is-valid {
    border-color: #2ecc71;
}

.ErrorIcon {
    color: #e74c3c !important;
    color: var(--error-color) !important;
}

.CorrectIcon {
    color: #28A745 !important;
    color: var(--correct-color) !important;
}

#nBambini {
    padding-left: 50%;
    cursor: pointer;
}

.iBambino {
    top: -8px !important;
    padding-left: 15px !important;
}

.ddBambino {
    padding-left: 50% !important;
}

#eDiv {
    width: 90%;
    margin-left: 2%;
}

#BambiniDiv {
    border-top: solid 3px white;
}

#child-container {
    padding-top: 2%;
}

#close-childdiv {
    padding-top: 0.3%;
}

#close-childdiv span {
    color: white;
    float: right;
    margin-right: 6vw;
    font-size: 170%;
}

#close-child-icon {
    cursor: pointer;
}

.child-spacing {
    padding-left: 30px !important;
}

.badge-prezzo {
    background-color: rgba(19, 15, 64, 1);
    background-color: var(--main-secondary-color);
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-roomInfo {
    margin-top: 1.5vh;
    width: 100%;
    cursor: pointer;
}

.btn-roomInfo h6 {
    margin: 0 2vh;
}

.btn-roomInfo div {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn-arrow, .appendIcon, #divPrenotaDetails {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.text-prova {
    text-align: left;
    padding-left: 3vh;
}

.text-prezzo {
    color: white;
}

.card-selection {
    background-color: rgba(19, 15, 64, 1);
    background-color: var(--main-secondary-color);
    color: white;
    margin-bottom: 10vh;
}

div.room-selected>div.card-body>div.box>h2>span.badge-prezzo,
div.room-selected>div.card-body>div.box>div.click-room>span.btn-roomInfo {
    background-color: white;
    color: rgba(19, 15, 64, 1);
    color: var(--main-secondary-color);
}


.room-selected {
    background-color: rgba(19, 15, 64, 1);
    background-color: var(--main-secondary-color);
    color: white;
}

.animation-selection {
    animation-name: animationSelection;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

#divPrenota {
    color: white;
    background-color: #282451;
    background-color: var(--input-dark-color);
}

#divPrenota .main-content{
    padding: 15px 0px 15px 15px;
}

#divPrenotaDetails {
    color: white;
    padding: 15px 0px 15px 15px;
    background-color: #3B3760;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dpAppendDiv, .dpgAppend {
    margin-left: 0;
}

#dpdAppend p, #dpmAppend p {
    padding-right: 2vw;
}

div#divPrenota p {
    margin-bottom: 0 !important
}

div#divPrenota span {
    cursor: pointer;
    margin-right: 2vw;
}

div#divPrenota button {
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #28A745;
    background-color: var(--correct-color);
    font-weight: bold;
    margin-right: 3vw;
}

.scroll,
.scroll:hover {
    text-decoration: none;
    padding: 15px;
    color: white;
}

@keyframes animationSelection {
    from {
        top: -235px;
        z-index: -10;
    }

    to {
        top: 0px;
        z-index: 0;
    }
}

.selection-hide {
    top: -235px;
    z-index: -1000;
    height: 30vh;
    overflow-y: hidden;

    animation-name: animationDeselection;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes animationDeselection {
    from {
        top: 0px;
        z-index: 0;
        height: 50vh;
    }

    to {
        top: -235px;
        z-index: -1000;
        height: 40vh;
    }
}

.room-padding {
    margin-bottom: 10vh;
}

.card-selezione-body {
    border-bottom: 3px solid white;
}

#offerta_scroll {
    height: 100%;
    background-color: rgba(19, 15, 64, 1);
    background-color: var(--main-secondary-color);
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.offer-container {
    margin: 3vh;
    padding-top: 0;
}

.offer-title {
    color: salmon;
    color: var(--main-color);
}

.offer-div {
    text-align: center;
    border-top: 3px solid salmon;
    border-top: 3px solid var(--main-color);
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.offer-div img {
    margin-top: 2.5vh;
}

.offer-div:first-of-type {
    border-top: none;
    padding-top: 0px;
}

.offer-room-info {
    margin-top: 1.5vh;
}

.offer-room-info p {
    margin-bottom: 0;
}

.offer-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5vw;
}

.offer-details:last-of-type {
    font-size: 125%;
    font-weight: bold;
}

div#offerta_scroll input,
div#offerta_scroll input:focus {
    border: none !important;
    background-color: #282451 !important;
    background-color: var(--input-dark-color) !important;
}

div#offerta_scroll input::placeholder {
    opacity: 0.5;
}

.offer-input-div {
    margin-top: 2.5vh;
    margin-bottom: 1vh;
}

.payment-input-div {
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.confirm-btn {
    font-size: 150%;
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #28A745;
    background-color: var(--correct-color);
    font-weight: bold;
    margin-right: 3vw;
}

.btn-confirm-div {
    margin-top: 33vh;
}

#mobile-bar-details,
#mobile-bar {
    position: static;
    bottom: 0;
    width: 100%;
}

#mobile-bar {
    background-color: #28A745;
    background-color: var(--correct-color);
    color: white;
    text-align: center;
    font-size: 150%;
    border-radius: 15px;
}

.delete-icon {
    background-color: #e74c3c;
    background-color: var(--error-color);
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.mobile-bar-section {
    padding: 1.5vw;
}

.mb-details-container {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.mb-details {
    margin-left: 2vw;
    margin-right: 2vw;
}

.mb-total {
    padding-top: 1.5vh;
    padding-right: 6vh;
    text-align: right;
}

.show-mobile-details {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

#mobile-bar-details {
    background-color: #2E9144;
    color: white;
    padding-bottom: 8vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    animation-name: dettailsShow;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes dettailsShow {
    from {
        padding-bottom: 0vh;
    }

    to {
        padding-bottom: 8vh;
    }
}

@keyframes dettailsHide {
    from {
        padding-bottom: 8vh;
    }

    to {
        padding-bottom: 0vh;
    }
}

.modal-content {
    background: none;
    border: none;
}

.modalText {
    visibility: visible;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
    margin-left: 3.2vw;
    margin-right: 3.8vw;
}

.modalText p {
    margin: 2vw;
}

.close {
    color: white;
    opacity: 1;
    font-size: 35px;
}

.carousel-zoom {
    position: absolute;
    bottom: 85%;
    left: 87%;
    z-index: 20;
    color: white !important;
    font-size: 120%;
}

/* ------------------------------------------------------------CHECKBOX CSS--------------------------------------------------- */
.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 45px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
    height: 38px;
    width: 38px;
    border: 5px solid #282451;
    border: 5px solid var(--input-dark-color);

    border-radius: 5px;
    left: 0px;
    background: #282451;
    background: var(--input-dark-color);
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: -5px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    /* height: 36px;
    width: 36px;
    background: red;
    
    left: 4px;
    top: 7px; */
    height: 32px;
    width: 33px;
    background: white;
    opacity: .5;
    left: 3px;
    top: -2px;
    border-radius: 5px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"]+label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked+label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

/* ------------------------------------------------------------MEDIA QUERIES--------------------------------------------------- */

/* Desktop */
@media (min-width: 768px) {

    .example-spacer {
        flex: 1 1 auto;
    }

    .modalText {
        visibility: hidden;
    }

    .camera-card {
        width: 70vw;
    }

    .testo-card {
        margin-left: 1.2vw;
    }

    .counter-spacing input[type=text] {
        padding-left: 45%;
    }

    .ct-style {
        width: 50%;
        margin-left: 38%;
    }

    .minusB2 {
        margin-left: 4vh;
    }

    #EmptyDiv {
        margin-left: 2vh;
    }

    .text-prova::after {
        content: " Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.";
    }

    .selection-hide {
        top: -400px;
    }

    .modal-dialog {
        max-width: 60%;
        margin: 1.75rem auto;
    }

    @keyframes animationDeselection {
        from {
            top: 0px;
            z-index: 0;
            height: 100%;
        }

        to {
            top: -400px;
            z-index: -1000;
            height: 100%;
        }
    }

    #offerta_scroll {
        overflow-y: hidden;
    }

    .offer-div {
        text-align: center;
        border-top: none;
        border-left: 3px solid var(--main-color);
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .offer-div:first-of-type {
        border-left: none;
    }

    #close-childdiv span {
        margin-right: 3vw;
    }

    .modal-open .modal {
        overflow-y: hidden;
    }

    .modal .carousel-control-prev {
        margin-left: -200px;
    }

    .modal .carousel-control-next {
        margin-right: -200px;
    }

    .modal .carousel-control-next-icon,
    .modal .carousel-control-prev-icon {
        width: 50px;
        height: 50px;
    }
}

/* Mobile */
@media (max-width: 600px) {

    .fa-bed {
        font-size: 17px !important;
    }

    .dp-size {
        width: 140%;
        margin-left: -20%;
    }

    .dp-i {
        padding-left: 12px !important;
        left: auto !important;
    }

    .modal-backdrop {
        opacity: 1 !important;
        background-color: black;
    }
}

/* ------------------------------------------------------------REGOLE SPECIFICHE PER BROWSER------------------------------------ */

/* FIREFOX */
@-moz-document url-prefix() {
    .inputIcon i {
        top: 14.4px;
    }

    .top .inputIcon i {
        top: 0px;
    }

    .top .input-group i {
        top: 45px !important;
        left: -130px !important;
    }

    .child-spacing {
        top: 2px !important;
    }

    @media (max-width: 600px) {
        .top .input-group i {
            top: 45px !important;
            left: -80px !important;
        }
    }
}

/* EDGE */
@supports (-ms-ime-align: auto) {
    .nav-btn {
        background-color: rgba(0, 0, 0, 0);
    }

    .dp-i {
        padding-left: 12px !important;
        left: auto !important;
        margin-left: 2vw !important;
    }

    .top::-ms-input-placeholder {
        color: white !important;
    }

    .form-control::-ms-input-placeholder {
        color: white !important;
    }

    .form-control,
    .form-style {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }

    div.down .form-control,
    div.down .form-style {
        background-color: #282451 !important;
    }

}

/* INTERNET EXPLORER */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #bBambino {
        padding-top: 7px;
    }

    .iBambino {
        top: -22px !important;
    }

    .nav-btn {
        background-color: rgba(0, 0, 0, 0);
    }

    .room-card .card-body {
        height: 10%;
    }

    .dp-i {
        margin-left: -9vw;
    }

    :-ms-input-placeholder.form-control {
        color: white;
    }

    .scroll-exp,
    .scroll-exp:hover {
        font-weight: bold;
        margin-left: -10vw;
        background-color: #28A745;
        border-radius: 5px;
        padding: 5px 20px;
    }

    .ie-show {
        display: block !important;
    }

    .ie-hide {
        display: none !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .dp-i {
        padding-left: 12px !important;
        left: auto !important;
        margin-left: 2vw !important;
    }


}